{% extends 'main/base.html' %}

{% block title %}Home Page{% endblock %}
{% block content %}

	<div class="content-section" style="margin-bottom: 200px;">
		{% for book in context %}
		<img src="{{book.book_image.url}}" class="book-image-home" alt="" width="110" height="155">
		<div>
			<h2><a class="book-title" href="{% url 'read' book.id %}">{{book.title}}</a></h2>
			<small><b>Author: </b>{{book.author}}</small><br>
			<!-- <i class="text-muted ml-1">{{book.date_added }}</i><br> -->
			<small><b>Rank: </b></small><br>
			<small><b>Likes: </b>{{book.total_likes}}</small><br>
			<div class="btn-group">
			    <a href="{% url 'order_book' book.title %}" class="btn btn-success">Buy book</a>
			    <div class="btn-group">
			      <button type="button" class="btn btn-primary dropdown-toggle mr-3" data-toggle="dropdown"></button>
			      <div class="dropdown-menu">
			        <a class="dropdown-item" href="{% url 'read_book' book.id %}">Read Book</a>
			        <a class="dropdown-item" name="book_favorite">Favorite</a>
			        <a class="dropdown-item" href="#">Contact author</a>
			      </div>
		    	</div>
				<a class="btn btn-secondary" style="color: #fff;"> Want a copy</a>
			</div>


		 </div>

		<hr style="font-size: 100px; margin-bottom: 20px;">
		{% endfor %}
	</div>


{% endblock %}
